/*Start Global Rules*/
body {
  font-family: "Open Sans", sans-serif;
  counter-reset: address-counter;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-border-box: border-box;
  box-sizing: border-box;
  /*max-width: 100%;*/
}
:root {
  --main-color: #2196f3;
  --alt-color: #1787e0;
  --main-transition: 0.3s;
  --section-padding: 50px;
  --background-color: #ded9d9;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 767px) {
  .container {
    width: 720px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  border: 1px solid black;
  background-color: white;
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto 100px;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.25s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.main-title::before {
  left: -20px;
}
.main-title::after {
  right: -20px;
}
.main-title:hover::before {
  animation: left-main-title 1s linear forwards;
  -webkit-animation: left-main-title 0.5s linear forwards;
}
.main-title:hover::after {
  animation: right-main-title 1s linear forwards;
  -webkit-animation: right-main-title 0.5s linear forwards;
}
/*Start Global Rules*/
/* Start Header */
header {
  background-color: white;
  position: relative;
  /*overflow: hidden;*/
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px -2px 60px -33px;
}
header .container .logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--main-color);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}
header ul.nav {
  display: flex;
}
@media (max-width: 767px) {
  header ul.nav {
    margin: auto;
  }
}
header ul.nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 20px;
  cursor: pointer;
  color: black;
  position: relative;
  padding: 0 25px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  header ul.nav > li > a {
    padding: 10px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 10px;
  }
}
header ul.nav > li > a:hover {
  color: var(--main-color);
  background-color: #fff;
}
header ul.nav > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--background-color);
  left: 0;
  top: 0;
  opacity: 0.1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header ul.nav > li > a:hover::after {
  width: 100%;
}
header ul.nav > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header ul.nav > li > a:hover::before {
  left: 0;
}
/* Start Mega Menu */
header ul.nav li:last-child:hover .mega-menu {
  opacity: 1;
  z-index: 2;
  top: 100%;
}
header .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: calc(100% + 30px);
  border-bottom: 5px solid var(--main-color);
  opacity: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
  }
}
header .mega-menu .image img {
  cursor: pointer;
  max-width: 400px;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 250px;
}
@media (max-width: 767px) {
  header .mega-menu .links {
    width: 100%;
  }
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: var(--background-color);
  opacity: 0.4;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding: 15px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #ded9dd;
    margin-bottom: 5px;
  }
  header .mega-menu .links li a {
    padding: 5px 0;
    margin-bottom: 5px;
  }
}
header .mega-menu .links li:not(:last-child) a {
  border-bottom: 1px solid #ded9dd;
}

header .mega-menu .links li a:hover {
  color: var(--main-color);
}
header .mega-menu .links li i {
  margin-right: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* End Mega Menu */

/* End Header */
/* Start Landing */
.landing {
  position: relative;
  /*overflow: hidden;*/
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 75px);
  left: 0;
  top: -40px;
  background-color: var(--background-color);
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}
.landing .container {
  display: flex;
  min-height: calc(100vh - 75px);
  align-items: center;
  padding-bottom: 50px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}
.landing .text h2 {
  font-size: 40px;
  letter-spacing: -3px;
  margin: 0;
}
.landing .text p {
  margin-right: 35px;
  font-size: 17px;
  color: #888;
  line-height: 1.5;
  max-width: 500px;
}
@media (max-width: 992px) {
  .landing .text h2 {
    text-align: center;
  }
  .landing .text p {
    width: 100%;
    margin: 30px auto;
  }
}
@media (max-width: 992px) {
  .landing .image {
    display: none;
  }
}
.landing .image img {
  width: 500px;
  max-width: 100%;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  animation: up-and-down 3s linear infinite;
  -webkit-animation: up-and-down 3s linear infinite;
}
.landing .go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.landing i {
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  animation: icon-animate 1.5s infinite;
  -webkit-animation: icon-animate 1.5s infinite;
}
.landing i:hover {
  color: var(--alt-color);
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .boxes .box {
  transition: transform var(--main-transition), translate var(--main-transition);
  -webkit-transition: transform var(--main-transition),
    translate var(--main-transition);
  -moz-transition: transform var(--main-transition),
    translate var(--main-transition);
  -ms-transition: transform var(--main-transition),
    translate var(--main-transition);
  -o-transition: transform var(--main-transition),
    translate var(--main-transition);
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 25%);
}
.articles .container .boxes .box:hover {
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 75%);
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.articles .container .boxes .box .content {
  padding: 10px;
}
.articles .container .boxes .box img {
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.articles .container .boxes .box .content h2 {
  font-size: 20px;
}
.articles .container .boxes .box .content > p {
  font-size: 14px;
  color: #777;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.articles .container .boxes .box .content .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}
.articles .container .boxes .box .content .more p {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.articles .container .boxes .box:hover .content .more i {
  animation: article-icon 0.5s linear infinite;
  -webkit-animation: article-icon 0.5s linear infinite;
}
.articles .container .boxes .box .content .more i {
  cursor: pointer;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}
.rectangle span {
  display: block;
  border-width: 10px;
  border-color: white transparent transparent;
  border-style: solid;
}
.gallery .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.gallery .images .image {
  max-width: 100%;
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gallery .images .image::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(222 217 217 / 30%);
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.gallery .images .image:hover::before {
  animation: gallery-image 0.7s;
  -webkit-animation: gallery-image 0.7s;
}
.gallery .images .image img {
  width: 100%;
  height: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .images .image:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.features .container .feats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  text-align: center;
}
.features .container .feats .box {
  box-shadow: 0px 2px 9px -3px rgb(0 0 0 / 75%);
  overflow: hidden;
}
.features .container .feats .image {
  position: relative;
  cursor: pointer;
}
.features .container .feats img {
  max-width: 100%;
  width: 100%;
}
.features .feats .box .image::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-width: 0px 0 117px 380px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  z-index: 3;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .feats .image:hover::before {
  border-width: 0px 487px 117px 380px;
}
.features .feats .box .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -2px;
}
.features .feats .box:nth-child(1) .image::after {
  background-color: rgb(255 3 66 / 50%);
}
.features .feats .box:nth-child(2) .image::after {
  background-color: rgb(70 243 70 / 50%);
}
.features .feats .box:nth-child(3) .image::after {
  background-color: rgb(66 173 243 / 50%);
}
.features .feature-content {
  padding: 20px 10px;
}
.features .feature-content h2 {
  font-size: 30px;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}
.features .feature-content h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
  height: 5px;
}
.features .feats .box:first-of-type h2::after {
  background-color: #ff0342;
}
.features .feats .box:nth-child(2) h2::after {
  background-color: #46f346;
}
.features .feats .box:last-child h2::after {
  background-color: #42adf3;
}
.features .feature-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  margin-top: 30px;
}
.features .feature-content a {
  border: 4px solid;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  margin: 50px auto 10px;
  display: block;
  width: fit-content;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .feats .box:first-of-type a {
  border-color: #ff0342;
  color: #ff0342;
  background: linear-gradient(to right, #ff0342 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feats .box:first-of-type:hover a {
  background-position: left bottom;
  color: white;
}
.features .feats .box:nth-child(2) a {
  border-color: #46f346;
  color: #46f346;
}
.features .feats .box:nth-child(2) a {
  border-color: #46f346;
  color: #46f346;
  background: linear-gradient(to right, #46f346 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feats .box:nth-child(2):hover a {
  background-position: left bottom;
  color: white;
}
.features .feats .box:last-child a {
  border-color: #42adf3;
  color: #42adf3;
}
.features .feats .box:last-child a {
  border-color: #42adf3;
  color: #42adf3;
  background: linear-gradient(to right, #42adf3 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .feats .box:last-child:hover a {
  background-position: left bottom;
  color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
}
.testimonials .container .feeds {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 130px;
}
.testimonials .container .feeds .person {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials .person img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -40px;
}
.testimonials .person h2 {
  margin: 5px 0 10px;
  font-weight: 800;
  font-size: 18px;
}
.testimonials .person .stack {
  color: #777;
  font-size: 16px;
}
.testimonials .person .stars {
  margin: 10px 0;
}
.testimonials .person .stars .filled {
  color: #dbdb19;
}
.testimonials .person p {
  line-height: 1.6;
  color: #777;
  font-size: 15px;
}
/* End Testimonials */
/* Start Team Members */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.team .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.team .boxes .box {
  position: relative;
  padding: 25px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}
.team .boxes .box::before,
.team .boxes .box::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .boxes .box::before {
  width: 75%;
  background-color: rgb(119 119 119 / 10%);
  z-index: -2;
}
.team .boxes .box::after {
  width: 0;
  background-color: rgb(119 119 119 / 15%);
  z-index: -1;
}
.team .boxes .box:hover::after {
  width: 75%;
}
.team .box .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.team .box img {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.team .box .social i {
  margin-bottom: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team .box .top i:hover {
  color: var(--main-color);
}
.team .box .info {
  margin: 0 0 0 20%;
  padding-left: 30px;
}
.team .box .info h2 {
  margin: 10px 0;
  color: var(--main-color);
}
.team .box .descrip {
  color: #777;
  font-size: 15px;
}
/* End Team Members */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
  position: relative;
}
.services .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.services .box {
  background-color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 2px 9px -3px rgb(0 0 0 / 50%);
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.services .box::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  top: -5px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  font-size: 50px;
  margin: 20px 0;
  color: #777;
}
.services .box h2 {
  margin: 0;
  font-size: 19px;
  color: var(--main-color);
  font-weight: 800;
}
.services .box .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  margin-top: 20px;
  height: 50px;
}
.services .box .footer .number {
  color: white;
  background-color: var(--main-color);
  height: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.services .box .footer .number::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: #d5d5d5;
  right: -26px;
  top: 0;
  transform: skewX(-29deg);
}
.services .box .footer .details {
  margin-right: 10px;
  color: var(--main-color);
}
/* End Services */
/* Start Skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills .content img {
  transform: rotatey(180deg);
  width: 500px;
}
@media (max-width: 992px) {
  .skills .content img {
    display: none;
  }
}
.skills .lines {
  flex: 1;
}
.skills .lines .line {
  margin-bottom: 30px;
}
.skills .line h2 {
  font-weight: 800;
  margin: 0;
}
@media (max-width: 768px) {
  .skills .line h2 {
    font-size: 15px;
  }
}
.skills .line p {
  height: 30px;
  width: 100%;
  background-color: #d5d5d5;
  position: relative;
}
.skills .line p::after {
  content: attr(data-percent);
  position: absolute;
  right: 0;
  font-weight: 800;
  top: -40px;
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 2px;
}
.skills .line span {
  background-color: var(--main-color);
  display: block;
  height: 100%;
}
/* End Skills */
/* Start How To Work */
.work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
}
.work .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .content > img {
  max-width: 100%;
  margin-right: 100px;
  width: 550px;
}
@media (max-width: 992px) {
  .work .content > img {
    display: none;
  }
}
.work .right .box {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: flex-start;
  background-color: #e7e7e7;
  padding: 20px;
  border: 1px solid white;
  position: relative;
  z-index: 1;
}
.work .right .box::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0px;
  background-color: rgb(189 179 179 / 20%);
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.work .right .box:hover::before {
  width: 100%;
  height: 100%;
}
.work .right .box img {
  width: 75px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work .right .box img {
    width: 60px;
  }
}
.work .box .info h2 {
  margin: 0;
  font-size: 25px;
}
@media (max-width: 767px) {
  .work .box .info h2 {
    font-size: 18px;
  }
}
.work .box .info p {
  line-height: 2;
  color: #777;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .work .box .info p {
    font-size: 12px;
    margin-top: 14px;
  }
}
/* End How To Work */
/* Start Events */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.events .content {
  display: flex;
  align-items: center;
}
.events img {
  max-width: 100%;
  margin-right: 70px;
  width: 600px;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .right {
  text-align: center;
  max-width: 100%;
}
.events .right .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .right .date .the-date {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -3px rgb(119 119 119 / 50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.events .right .date .the-date:hover {
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .right .date .the-date {
    width: 23%;
    margin-right: 5px;
  }
}
.events .right .date .the-date .number {
  width: 60px;
  display: flex;
  justify-content: center;
  padding: 25px 10px;
  font-size: 28px;
  color: var(--main-color);
}
.events .right .date .the-date > .text {
  padding: 10px 16px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  color: #777;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.events .right .date .the-date:hover > .text {
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .right .date .the-date > .text {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}
.events .right > .text h2 {
  font-size: 35px;
}
.events .right > .text p {
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}

.events .container .foot {
  width: fit-content;
  margin: 100px auto 0;
  padding: 30px;
  background-color: hsl(0deg 0% 90% / 40%);
  border-radius: 38px;
  max-width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .events .container .foot {
    padding: 20px;
  }
}
.events .container .foot input {
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 15px;
  width: 300px;
}
@media (max-width: 767px) {
  .events .container .foot input {
    width: 200px;
    padding: 0 10px;
  }
}
.events .container .foot input::placeholder {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.events .container .foot input:focus::placeholder {
  opacity: 0;
}
.events .container .foot input:focus {
  outline: none;
  caret-color: var(--main-color);
}
.events .container .foot button {
  margin-left: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 28px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .events .container .foot button {
    font-size: 13px;
    padding: 0 13px;
  }
}
/* End Events */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
}
.pricing .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.pricing .container .box {
  background-color: white;
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 30%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
  z-index: 1;
}
.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0;
  background-color: rgb(227 227 227 / 50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.pricing .container .box::before {
  left: 0;
  top: 0;
}
.pricing .container .box::after {
  right: 0;
  bottom: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}
.pricing .container .box:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 90%);
}
.pricing .container .box h2 {
  text-align: center;
  margin: 40px 0 0;
}
.pricing .container .box i {
  display: block;
  text-align: center;
  font-size: 90px;
  margin: 30px 0;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .pricing .container .box i {
    font-size: 65px;
  }
}
.pricing .container .box > p.number {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin: 0 0 20px;
  color: var(--alt-color);
  position: relative;
}
@media (max-width: 767px) {
  .pricing .container .box > p.number {
    font-size: 60px;
  }
}
.pricing .container .box > p.number::before {
  content: "$";
  position: absolute;
  left: 70px;
}
@media (max-width: 767px) {
  .pricing .container .box > p.number::before {
    font-size: 40px;
    left: 110px;
  }
}
.pricing .container .box > p.number::after {
  content: "Per Month";
  position: absolute;
  font-size: 14px;
  color: #777;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .container .box .advantages {
  margin-top: 70px;
}
.pricing .container .box .advantages p {
  font-size: 17px;
  color: #333;
  border-top: 1px solid #e5e5e5;
  padding: 15px 60px;
  position: relative;
}
.pricing .container .box .advantages p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  border-width: 5px 5px 4px 5px;
  border-style: solid;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  transform: translateY(-50%) rotate(45deg);
  left: 20px;
  top: 40%;
}
.pricing .container .box .advantages p::after {
  content: "";
  position: absolute;
}
.pricing .container .box button {
  display: block;
  margin: 20px auto;
  padding: 15px 25px;
  font-size: 18px;
  color: var(--main-color);
  border: 4px solid var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing .container .box button:hover {
  background-color: var(--alt-color);
  color: white;
}
/* End Pricing */
/* Start Videos */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.videos .container {
  background-color: var(--background-color);
  display: flex;
  padding: 0;
}
@media (max-width: 767px) {
  .videos .container {
    flex-direction: column;
  }
}
.videos .container .right {
  flex: 1;
  position: relative;
}
.videos .right video {
  max-width: 100%;
  padding: 10px;
}
.videos .right input {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  width: calc(100% - 20px);
  padding: 25px 15px;
  font-size: 17px;
  color: #777;
  border: none;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .videos .right input {
    font-size: 13px;
  }
}
.videos .right input:focus {
  outline: none;
}
.videos .right input::placeholder {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.videos .right input:focus::placeholder {
  opacity: 0;
}
.videos .left {
  padding: 0 5px 5px;
}
.videos .left .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
  padding: 20px 15px;
  cursor: pointer;
}
.videos .left .top h2 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.videos .left .top i {
  font-size: 18px;
  position: relative;
}
.videos .left .top:hover i {
  animation: vidoe-icon var(--main-transition) linear infinite;
  -webkit-animation: vidoe-icon var(--main-transition) linear infinite;
}
.videos .left ul li {
  background-color: white;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  color: black;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.videos .left ul li:hover {
  background-color: #e3e3e3;
  color: var(--main-color);
}
.videos .left ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
/* End Videos */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
}
.stats .container .main-title {
  margin-bottom: 35px;
}
.stats .boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.stats .boxes .box {
  background-color: white;
  padding: 25px 10px;
  width: 24%;
  position: relative;
}
@media (max-width: 767px) {
  .stats .boxes .box {
    width: 25%;
  }
}
.stats .boxes .box::before,
.stats .boxes .box::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 0%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.stats .boxes .box::before {
  left: 0;
  top: 0;
}
.stats .boxes .box::after {
  bottom: 0;
  right: 0;
}
.stats .boxes .box:hover::after,
.stats .boxes .box:hover::before {
  height: 100%;
}
.stats .boxes .box i {
  font-size: 40px;
}
@media (max-width: 767px) {
  .stats .boxes .box i {
    font-size: 17px;
  }
}
.stats .boxes .box h2 {
  font-size: 35px;
  font-weight: 800;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .stats .boxes .box h2 {
    font-size: 15px;
  }
}
.stats .boxes .box p {
  font-size: 16px;
  color: var(--main-color);
}
@media (max-width: 767px) {
  .stats .boxes .box p {
    font-size: 12px;
  }
}
/* End Stats */
/* Start Discount */
.discount {
  display: flex;
}
@media (max-width: 767px) {
  .discount {
    flex-direction: column;
  }
}
.discount .left {
  background-color: var(--main-color);
  width: 50%;
}
@media (max-width: 767px) {
  .discount .left {
    width: 100%;
  }
}
.discount .left .content {
  width: 90%;
  margin: 150px auto 0;
}
.discount .left .content h2 {
  color: white;
  text-align: center;
  font-size: 35px;
}
@media (max-width: 767px) {
  .discount .left .content h2 {
    font-size: 25px;
  }
}
.discount .left .content p {
  color: white;
  font-size: 18px;
  line-height: 1.7;
}
@media (max-width: 991px) {
  .discount .left .content p {
    font-size: 12px;
  }
}
.discount .content img {
  width: 50%;
  max-width: 100%;
  display: block;
  margin: 50px auto 0;
}
@media (max-width: 991px) {
  .discount .content img {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .discount .content img {
    width: 70%;
  }
}
.discount .right {
  width: 50%;
}
@media (max-width: 767px) {
  .discount .right {
    width: 100%;
  }
}
.discount .right .content {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .discount .right .content {
    margin-top: 50px;
  }
}
.discount .right .content h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin: 0 0 30px;
}
.discount .right .content form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto 50px;
}
.discount .right .content form input,
.discount .right .content textarea {
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e7e7e754;
  caret-color: var(--main-color);
}
.discount .right .content form input:focus,
.discount .right .content textarea:focus {
  outline: none;
}
.discount .right .content form input::placeholder,
.discount .right .content textarea::placeholder {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.discount .right .content form input:focus::placeholder,
.discount .right .content textarea:focus::placeholder {
  opacity: 0;
}
.discount .right .content textarea {
  height: 200px;
  resize: none;
}
.discount .right .content input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.discount .right .content input[type="submit"]:hover {
  background-color: var(--alt-color);
}
/* End Discount */
/* Start Footer */
footer {
  background-color: #191919;
  color: #b9b9b9;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
footer .container .box {
  margin: 40px 0 20px;
}
footer .container .box:first-of-type h2 {
  color: white;
  font-size: 30px;
  margin: 0 0 12px;
}
footer .container .box:first-of-type .social {
  display: flex;
  justify-content: flex-start;
}
footer .container .box:first-of-type .social i {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .container .box:first-of-type .social i:first-of-type:hover {
  background-color: #1877f2;
}
footer .container .box:first-of-type .social i:nth-child(2):hover {
  background-color: #1da1f2;
}
footer .container .box:first-of-type .social i:nth-child(3):hover {
  background-color: #ff0000;
}
footer .container .box:first-of-type .description {
  font-size: 12px;
  max-width: 230px;
  line-height: 1.6;
  margin-top: 30px;
}

footer .container .box:nth-of-type(2) p {
  position: relative;
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-bottom: 1px solid #b9b9b9;
  padding: 10px 0;

  margin-left: 20px;
}
footer .container .box:nth-of-type(2) p:hover {
  color: white;
  padding-left: 10px;
}
footer .container .box:nth-of-type(2) p::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -24px;
  color: var(--main-color);
}
footer .container .box:nth-of-type(2) p::after {
  content: counter(address-counter);
  counter-increment: address-counter;
  position: absolute;
  margin-left: 6px;
}
footer .container .box:nth-of-type(3) {
  margin-left: 20px;
}
footer .container .box:nth-of-type(3) .line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .container .box:nth-of-type(3) .line i {
  font-size: 27px;
  margin-right: 15px;
  color: var(--main-color);
}
footer .container .box:nth-of-type(3) .line p {
  font-size: 15px;
}
footer .container .box:nth-of-type(3) .line:last-child .numbers {
  display: flex;
  flex-direction: column;
}
footer .container .box:nth-of-type(3) .line:last-child .numbers span {
  display: block;
  margin-top: 10px;
}
footer .container .box:nth-of-type(4) {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  footer .container .box:nth-of-type(4) {
    justify-content: center;
  }
}
footer .container .box:nth-of-type(4) .image {
  padding: 1px;
  background-color: white;
  margin: 3px;
  overflow: hidden;
}
footer .container .box:nth-of-type(4) img {
  width: 80px;
  margin: 5px;
  height: 90%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  cursor: pointer;
}
footer .container .box:nth-of-type(4) img:hover {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
footer .copy-right {
  background-color: var(--main-color);
  padding: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}
footer .copy-right span {
  font-weight: 800;
  color: #000000;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
@keyframes icon-animate {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}
@keyframes left-main-title {
  50% {
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  100% {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-main-title {
  50% {
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes article-icon {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
@keyframes gallery-image {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes vidoe-icon {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: 10px;
  }
}
/* End Animation */
